.display-none {
  display: none !important;
}

.btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
  background-color: rgba(103, 114, 126, 0.2);
  padding: 32px 16px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body .avatar-img {
  width: 32px;
  height: 32px;
}
body .main-section .comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
body .main-section .comments-container .comment-container--main {
  width: 100%;
}
body .main-section .comments-container .comment-container--main .main-comment, body .main-section .comments-container .comment-container--main .reply-comment {
  width: 100%;
  background-color: #FFFFFF;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
}
body .main-section .comments-container .comment-container--main .main-comment .xx, body .main-section .comments-container .comment-container--main .reply-comment .xx {
  margin-bottom: 20px;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-header, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-header .user-container, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-header .user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-header .user-container .user-name, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-header .user-container .user-name {
  font-size: 16px;
  font-weight: 600;
  color: #334253;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-header .user-container .createdAt, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-header .user-container .createdAt {
  font-size: 16px;
  font-weight: 400;
  color: #67727E;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-header .btn--reply-desktop, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-header .btn--reply-desktop {
  display: none;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-text, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-text {
  border: none;
  outline: 2px solid white;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  height: 144px;
  color: #67727E;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
  transition: all 0.2s;
  cursor: pointer;
}
body .main-section .comments-container .comment-container--main .main-comment .xx .comment-text:focus, body .main-section .comments-container .comment-container--main .reply-comment .xx .comment-text:focus {
  outline: 2px solid #5357B6;
  padding: 5px;
}
body .main-section .comments-container .comment-container--main .main-comment .yy, body .main-section .comments-container .comment-container--main .reply-comment .yy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .main-section .comments-container .comment-container--main .main-comment .yy .score-container, body .main-section .comments-container .comment-container--main .reply-comment .yy .score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: rgba(151, 151, 151, 0.1);
  padding: 14px;
  box-sizing: border-box;
  border-radius: 16px;
}
body .main-section .comments-container .comment-container--main .main-comment .yy .score-container .score-number, body .main-section .comments-container .comment-container--main .reply-comment .yy .score-container .score-number {
  font-size: 16px;
  font-weight: 600;
  color: #5357B6;
}
body .main-section .comments-container .comment-container--main .main-comment .yy .btn--reply-mobile, body .main-section .comments-container .comment-container--main .reply-comment .yy .btn--reply-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  font-size: 16px;
  font-weight: 600;
  color: #5357B6;
}
body .main-section .comments-container .comment-container--main .comments-container--reply {
  padding-left: 16px;
  border-left: 2px solid #E9EBF0;
  box-sizing: border-box;
}
body .main-section .comments-container .comment-container--main .comments-container--reply .reply-comment {
  margin-top: 16px;
}
body .main-section .delete-edit--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
body .main-section .delete-edit--container .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  font-size: 16px;
  font-weight: 600;
  color: #5357B6;
}
body .main-section .delete-edit--container .btn--delete {
  color: #ED6368;
}
body .main-section .add-comment {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 16px;
}
body .main-section .add-comment .textarea--your-comment {
  width: 100%;
  resize: none;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #E9EBF0;
  border-radius: 8px;
  outline: 1px solid rgba(83, 87, 182, 0);
  transition: 0.2s;
  margin-bottom: 16px;
}
body .main-section .add-comment .textarea--your-comment:focus {
  outline: 1px solid #5357b6;
}
body .main-section .add-comment .add-comment--my-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .main-section .add-comment .add-comment--my-container .btn--send-reply {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #5357B6;
  padding: 18px 30px;
  box-sizing: border-box;
  color: #FFFFFF;
  border-radius: 8px;
  letter-spacing: 1px;
}
body .main-section .your-reply {
  margin-top: 16px;
}

/*# sourceMappingURL=style.css.map */
